<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    {% load static %}
    <title>Calory list</title>
</head>
<body>
    <table>
        <tr>
            <td colspan="3">
                <h1>Питательная ценность основных продуктов</h1>
                <h2>В таблице указаны калорийность, белки, жиры и углеводы в расчете на 100 г </h2>
            </td>
        </tr>
        <tr>
            <td width="60%">
                <h5>
                <table border="1"  width="600">
                    <tr>
                        <td>Продукт</td>
                        <td>Белки г</td>
                        <td>Жиры г</td>
                        <td>Углеводы г</td>
                        <td>Калорийность</td>
                    </tr>

                    <tr>
                        <td>Колбаса</td>
                        <td>17.6</td>
                        <td>39.1</td>
                        <td>0</td>
                        <td>428</td>
                    </tr>
                </h5> <h5>
                    <tr>
                        <td>Хлеб</td>
                        <td>7.4</td>
                        <td>2.2</td>
                        <td>53</td>
                        <td>246</td>
                    </tr>

                    <tr>
                        <td>Масло</td>
                        <td>0.5</td>
                        <td>82.3</td>
                        <td>0</td>
                        <td>746</td>
                    </tr>

                    <tr>
                        <td>Свинина</td>
                        <td>16.3</td>
                        <td>27.9</td>
                        <td>0</td>
                        <td>318</td>
                    </tr>
                    <tr>
                        <td>Говядина</td>
                        <td>18.7</td>
                        <td>12.6</td>
                        <td>0</td>
                        <td>196</td>
                    </tr>
                    <tr>
                        <td>Курица</td>
                        <td>20.4</td>
                        <td>8.6</td>
                        <td>0.8</td>
                        <td>161</td>
                    </tr>

                    <tr>
                        <td>Капуста</td>
                        <td>2.7</td>
                        <td>0</td>
                        <td>6.3</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>Огурцы</td>
                        <td>0.7</td>
                        <td>0</td>
                        <td>3.1</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>Томаты</td>
                        <td>0.7</td>
                        <td>0</td>
                        <td>4.1</td>
                        <td>19</td>
                    </tr>

                    <tr>
                        <td>Орехи</td>
                        <td>13.5</td>
                        <td>61.5</td>
                        <td>10.6</td>
                        <td>662</td>
                    </tr>

                    <tr>
                        <td>Сухофрукты</td>
                        <td>2.5</td>
                        <td>0.4</td>
                        <td>64.6</td>
                        <td>277</td>
                    </tr>
                    <tr>
                        <td>Рыба</td>
                        <td>21.2</td>
                        <td>7.1</td>
                        <td>0</td>
                        <td>151</td>
                    </tr>

                    <tr>
                        <td>Яблоко</td>
                        <td>0.5</td>
                        <td>0</td>
                        <td>11.4</td>
                        <td>48</td>
                    </tr>
                    <tr>
                        <td>Груша</td>
                        <td>0.5</td>
                        <td>0</td>
                        <td>9.6</td>
                        <td>41</td>
                    </tr>

                    <tr>
                        <td>Шоколад</td>
                        <td>6.7</td>
                        <td>35.6</td>
                        <td>52.4</td>
                        <td>552</td>
                    </tr>
                    <tr>
                        <td>Печенье</td>
                        <td>8.2</td>
                        <td>19.8</td>
                        <td>53.1</td>
                        <td>425</td>
                    </tr>
</h5>
                </table>

            </td>
            <td width="40%">
                <h3>
                    <img src="{% static 'Products.jpg' %}"  width="420" height="420"/>
                </h3>
            </td>
        </tr>
    </table>

</body>
</html>

<style>
    h1 {
    color: blue;
    text-align:center;
    }
    h2 {

    text-align:center;
    margin:30px;
    }
    h3 {

    text-align:center;
    }


</style>